---
import NavBar from "../components/NavBar.jsx";
import "../styles/global.css";
---

<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Resume - Jiahua Ma</title>
  </head>
  <body class="bg-gray-100">
    <NavBar />
    <div class="container mx-auto py-8">
      <h1 class="text-4xl font-bold mt-8">Jiahua Ma</h1>
      <section class="mt-6">
        <h2>Summary</h2>
        <p>
          Highly skilled Front-End Developer with 4+ years of experience
          specializing in building responsive web and mobile applications using
          React.js, Flutter, and Firebase. Proficient in developing scalable and
          accessible user interfaces, with a strong focus on performance
          optimization and UI/UX design using Figma and Adobe XD. Adept at
          collaborating with cross-functional teams to deliver innovative and
          user-centric solutions.
        </p>
        <h2>Education</h2>
        <ul>
          <li>
            Master of Science in Informatics (Human-Computer Interaction) - The
            Pennsylvania State University (2020-2021)
          </li>
          <li>
            Bachelor of Science in Applied Data Sciences - The Pennsylvania
            State University (2016-2020)
          </li>
        </ul>
        <hr />
        <h2>Professional Experience</h2>
        <ul>
          <li>
            <h3>Lead Front End Engineer - Visa Inc.</h3>
            February 2022 - Present
            <ul>
              <li>
                Build engaging, usable, and accessible UI
                applications/components/code libraries for mobile and web - in
                the form of Flutter/Dart and technical notes.
              </li>
              <li>
                Analyze existing software for Usability and Accessibility issues
                and provide recommendations for improvement.
              </li>
              <li>
                Work with a diverse team of product owners, UX designers, and
                developers in a fast-paced environment, with quick iterative
                cycles.
              </li>
              <li>
                Evangelizing UI/UX front-end best practices and Accessibility
                for mobile and web.
              </li>
              <li>
                Fielding inquiries and requests for support from stakeholders.
              </li>
              <li>
                Work with Visa UX leadership team to attract, build, and
                maintain an engaged team of UX professionals across the globe.
              </li>
              <li>
                Lead the development of the Visa Product Design System mobile
                component library, driving key technical decisions and
                overseeing the creation of critical mobile front-end components.
                Personally contributed to over 50% of the mobile components,
                ensuring the scalability and maintainability of Visa’s mobile
                platforms.
              </li>
            </ul>
          </li>
          <li>
            <h3>Co-founder, Front-end Lead - PsySpace</h3>
            June 2020 - February 2022
            <ul>
              <li>
                Designed and built an application to provide spontaneous and
                personalized mental health support to emerging adults.
              </li>
              <li>Drafted the application prototype with Adobe XD.</li>
              <li>
                Built the application front-end using Flutter and employed the
                MVVM data architecture.
              </li>
              <li>
                Designed a NoSQL database in Firebase Firestore for real-time
                data rendering.
              </li>
              <li>
                Used Deep Learning approach to build multi-label classification
                models on students’ mental health challenges.
              </li>
              <li>
                Lead a group of six members to develop a mental health content
                library integrated into the application.
              </li>
            </ul>
          </li>
          <li>
            <h3>
              Research Assistant - Penn State: User Agency Lab in College of IST
            </h3>
            May 2019 - December 2021
            <ul>
              <li>
                Co-authored a paper accepted at The 23rd ACM Conference on
                Computer-Supported Cooperative Work and Social Computing (CSCW
                2020).
              </li>
              <li>
                Designed an application to help ride-sharing drivers reduce cost
                on tires using Adobe XD.
              </li>
              <li>
                Built a mobile application prototype with Flutter and Firebase
                that was presented to the Independent Drivers Guild.
              </li>
              <li>
                Built a model based on a plugin that better reflected the
                fairness of individual tasks determined by experts on Amazon
                Mechanical Turk (AMT).
              </li>
              <li>
                Executed data scraping on AMT and constructed a database using
                MySQL for content analysis.
              </li>
              <li>
                Analyzed comments left on TurkOpticon (a plugin of AMT which
                workers can rate requesters and tasks) by coding repeated
                information with sentiment analysis and statistical analysis in
                R.
              </li>
            </ul>
          </li>
        </ul>
        <hr />
        <h2>Professional Skills</h2>
        <ul>
          <li>
            <h3>Web Development</h3>
            React.js, HTML, CSS, JavaScript (ES6+)
          </li>
          <li>
            <h3>Mobile Development</h3>
            Flutter, Dart, SwiftUI, React Native, Firebase (Backend)
          </li>
          <li>
            <h3>Design Tools</h3>
            Figma, Adobe XD
          </li>
          <li>
            <h3>Other Tools and Technologies</h3>
            Python, R, Tableau, SQL, SPSS, Weka, Web Scraping, Unity (C#), Godot
            (GDScript)
          </li>
        </ul>
        <hr />
        <h2>Leadership and Involvement</h2>
        <ul>
          <li>
            <h3>
              Vice President, Stage Manager, Actor, Director, Director's
              Assistant
            </h3>
            <ul>
              <li>Served as stage manager in drama Rhinoceros in Love.</li>
              <li>
                Directed skit Oblivion on Penn State University Chinese Students
                and Scholars Association 2019 Mid-Autumn Festival Gala.
              </li>
              <li>
                Performed in drama Mumble Jumble as the Bulb and the Japanese
                Student. Assisted the play as director's assistant.
              </li>
            </ul>
          </li>
        </ul>
        <!-- 其他教育、经历、技能部分可参考原 resume.html 内容，使用 Tailwind 类进行样式调整 -->
      </section>
    </div>
  </body>
</html>
